# {{ ansible_managed }}
# megahex.fm radio
server {
	listen 443 ssl default_server; 
  	listen [::]:443 ssl default_server;

	ssl_certificate /etc/letsencrypt/live/zzz.megahex.fm/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/zzz.megahex.fm/privkey.pem;

	root {{ nginx__html_path }};

	index index.html;
    	server_name wirklich; # managed by Certbot

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	location /recordings/ {
		autoindex on;
		autoindex_format json;
		add_header Access-Control-Allow-Origin *;
	}
        location /uploads/ {
		autoindex on;
		autoindex_format json;
		add_header Access-Control-Allow-Origin *;
        }
}
