# {{ ansible_managed }}
# kein.fm radio
# RTMP nginx conf for the video streaming.
rtmp {

    server {

        listen 1935;

        chunk_size 4096;

        # TV mode: one publisher, many subscribers
        application live {

            # enable live streaming
            live on;
            hls on;
            hls_nested on;
            hls_path /tmp/HLS/live;
            hls_fragment 10s;

            # Convert video for the 'mobile' application below.
            # Uncomment if using that one.
            # exec ffmpeg -i rtmp://127.0.0.1:1935/$app/$name -acodec copy -c:v libx264 -preset veryfast -profile:v baseline -vsync cfr -s 480x360 -b:v 400k maxrate 400k -bufsize 400k -threads 0 -r 30 -f flv rtmp://127.0.0.1:1935/mobile/$name;


            record off;
            record_path {{ nginx_keinfm__recordings_path}}/video;
            # record first 1K of stream
            record_max_size 1K;
            # append current timestamp to each flv
            record_unique on;

            # anyone can publish.
            allow publish all;
            # deny publish all;

            allow play all;
        }

        # Keeping these here, might turn useful.
        # application mobile {
        # allow play all;
        # live on;
        # hls on;
        # hls_nested on;
        # hls_path /tmp/HLS/mobile;
        # hls_fragment 10s;
        # }

        # application hls {
        #     live on;
        #     hls on;
        #     hls_path /tmp/hls;
        #     hls_fragment 5s;
        #   }

        # application dash {
        #     live on;
        #     dash on;
        #     dash_path /tmp/dash;
        # }
    }
}

